.dark-body{
    background-color: rgb(20,20,20);
}

.dark-main-div{
    background-color: black;
}

.dark-text{
    color: white;
}

.dark-button{
    background-color: rgb(0,0,0);
    color: white;
}

.dark-button:hover {
    background-color: rgb(30, 30, 30);
}
