@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

.main-div{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background-color: rgba(0,0,0,0.1);
}

h1{
    margin-top: 0;
    font-size: 3rem;
    text-align: center;
}